* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
}

.app-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 90vh;
  }

.sidebar {
  min-width: 30rem;
  height: 100vh;
  background-color: grey;
  border-right: var(--border);
}

.canvas {
  width: 100%;
  height: 100vh;
  border-right: var(--border);
}

.button {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin: 0.5rem;
  border: var(--border);
  border-radius: 1rem;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}


.tree-menu-container {
  height: 50%;
  overflow-y: auto;
}

.property-menu {
  overflow-y: auto;
  height: 50%;
}

.property-root {
  display: flex;
  padding: 0.25rem;
  border-bottom: var(--border);
}

.property-name {
  width: 20rem;
  padding-right: 0.25rem;
}

.property-value {
  width: 100%;
  padding-left: 0.25rem;
}

/* tree menu */
/* Remove default bullets */
ul,
#tree-menu {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#tree-menu {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
  margin-left: 1rem;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

#file-input {
  visibility: visible;
}
